/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: 'Bellefair', serif;
  --ff-sans-cond: 'Barlow Condensed', sans-serif;
  --ff-sans-normal: 'Barlow', sans-serif;

  --border-radius: 25px;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --ff-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
    --fs-500: 1.75rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-image: url(../../src/assets/tom-barrett-hgGplX3PFBg-unsplash.jpg);
  background-size: cover;
  line-height: 1.5;
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr;

  overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.hidden {
  display: none;
}

.error {
  color: rgb(134, 1, 1);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-accent {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* ------------------ */
/*  Components        */
/* ------------------ */
.widget-container {
  width: 612px;
  height: 412px;
  display: block;
  background-color: hsl(var(--clr-dark));
  border-radius: 25px;
  margin: 10% auto 0 auto;
}

/* Widget 4 Quarter Division here */

.top-left {
  height: 60%;
  width: 50%;
  padding: 35px 0 0 50px;
  display: inline-block;
}

.top-right {
  height: 60%;
  width: 50%;
  float: right;
  padding: 35px 0 0 0;
}

.bottom-left {
  height: 40%;
  width: 45%;
  float: left;
  margin: 0;
  padding: 40px 0 0 50px;
}

.bottom-right {
  height: 40%;
  width: 55%;
  float: right;
  padding: 25px 0 0 60px;
}

/* Top-left Div CSS */

#city {
  font-weight: 900;
  font-size: 2.5rem;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid hsl(var(--clr-white));
  width: 100%;
}

#city:focus {
  outline: 0;
}

::placeholder {
  opacity: 1;
}

small {
  font-size: x-small;
}

#day {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 13px;
}

#date {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 4px;
}

#time {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 8px;
}

/* Top-Right Div CSS */

#weather-status {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

.top-right > img {
  width: 200px;
  height: 200px;
  display: block;
  margin: -35px auto 0 auto;
}

/* Horizontal-Half-divider */

.horizontal-half-divider {
  width: 100%;
  height: 3px;
  margin-top: -5px;
  background-color: hsl(var(--clr-white));
}

.vertical-half-divider {
  width: 3px;
  position: absolute;
  height: 165px;
  background-color: hsl(var(--clr-white));
  display: inline-block;
  padding: 0;
}

/* Bottom-left CSS */

#temperature,
#celsius,
#temp-divider,
#fahrenheit {
  display: inline;
  vertical-align: middle;
}

#temperature {
  font-size: 4rem;
  font-weight: 800;
}

#celsius,
#fahrenheit {
  cursor: pointer;
}

#celsius,
#temp-divider,
#fahrenheit {
  font-size: 2rem;
  font-weight: 800;
}

/* Bottom-Right CSS */

.other-details-key {
  float: left;
  font-size: 16px;
  font-weight: 300;
}

.other-details-values {
  float: left;
  font-size: 16px;
  font-weight: 400;
  margin-left: 40px;
}

#myGithub {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translate(-50%, 0);
  text-decoration: none;
  color: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-white) / 0.4);
  border-radius: 5px;
  padding: 0 5px;
}
